{% extends 'base.html' %}
{% block title %}
  {{ exercise.title }}
{% endblock %}

{% block content %}
  <h2 class="page-title">{{ exercise.title }}</h2>

  <form method="post" class="form-container">
    {% csrf_token %}
    {% for question in questions %}
      <div class="question">
        <p>
          <strong>Q{{ forloop.counter }}: {{ question.text }}</strong>
        </p>

        {% if question.question_type == 'mcq' %}
          {% for option in question.options.all %}
            <label>
              <input type="radio" name="question_{{ question.id }}" value="{{ option.id }}" />
              {{ option.text }}
            </label><br />
          {% endfor %}
        {% else %}
          <input type="text" name="question_{{ question.id }}" placeholder="Your answer" />
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Submit Exercise</button>
  </form>
{% endblock %}
