{% include 'includes/header.html' %}
{% include 'includes/sidebar.html' %}
<div class="col py-3 content-area">
<section class="section bg-light">
<div class="container">
  <h2>Admin Dashboard</h2>
  <div class="row">
      <div class="col-md-4">
          <div class="feature-box">
              <div class="feature-icon">📖</div>
              <h4>Total Listed Books</h4>
              <p>100</p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-box">
              <div class="feature-icon">📬 </div>
              <h4>Total Users</h4>
              <p>100</p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-box">
              <div class="feature-icon">📬</div>
              <h4>About Me </h4>
              <a href="https://umars-cv.webflow.io/" class="btn btn-primary" target="_blank">Visit My CV </a>
          </div>
      </div>
  </div>
</div>
</section>
</div>
<!-- footer -->
 {% include 'includes/footer.html' %}