{% extends 'layout.html' %}

{% block content %}
  <div class="container mt-4 round border shadow p-3">
    <h3 class="text-center">User Management</h3>

    {% if messages %}
      {% for message in messages %}
        <div class="text {% if message == 'success' %}
            
                     
            text-success


          {% else %}
            
             
            text-danger


          {% endif %}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <a href="{% url 'create_user' %}" class="btn btn-primary mb-3">Add New User</a>
    <table class="table table-bordered">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <a href="{% url 'delete_user' user.id %}" class="btn btn-danger btn-sm">Delete</a>
            <a href="{% url 'edit_user' user.id %}" class="btn btn-success btn-sm">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
