@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --lighting-color: #0089b7;
    --dark-color: #084a74;
    --darker-color: #003251;
    --secondary-color: #fff700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--lighting-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.thank-you-container {
    background-color: var(--dark-color);
    padding: 20px 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: var(--secondary-color);
}

p {
    margin-bottom: 30px;
    font-size: 18px;
    color: white;
}

.back-home-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(250, 234, 87);
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.back-home-btn:hover {
    background-color: #56ff9c;
}
