{% extends 'navbar.html' %}


    <div class="container mt-4">
        {% block content %}
        <h1>Welcome to the Project</h1>
        <p>This Flask application provides a platform to manage user accounts and perform search operations based on user-defined criteria.</p>
        <p>Features include:</p>
        <ul>
            <li>User registration and login</li>
            <li>Search functionality for various parameters</li>
            <li>Dashboard to view and manage search results</li>
        </ul>
        <p>To get started, you can register a new account or log in if you already have one. Once logged in, you will have access to the dashboard where you can perform searches and view results.</p>
        <p>Feel free to explore and use the features provided. If you have any questions or need help, don't hesitate to contact support.</p>
        {% endblock %}
    </div>

 
