body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2, h3 {
    color: #333;
}

form {
    margin-bottom: 20px;
    margin-left: 50px;
    width:50%;
    background-color: #fff;
    padding: 20px  5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="submit"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width:200px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
    border-color: #4cae4c;
    width: 100px;
}

input[type="submit"]:hover {
    background-color: #449d44;
}

table {
    width: 50%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f8f8f8;
}

td {
    background-color: #fff;
}

form input[type="submit"]:nth-child(2) {
    background-color: #f0ad4e;
    border-color: #eea236;
}

form input[type="submit"]:nth-child(2):hover {
    background-color: #ec971f;
}
